


body {
    background-image: url(90sbg-02.png);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}


h3 {
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    
    
}

h2 {
    color: #29bfc9 !important;
    text-shadow: 2px 0px #f9cce0;
    padding-top: 13px;
    text-align: center;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
    
    
}

  





.header { 
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #bdbdbd;
    margin-bottom: 80px;
}


.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}

.footer{ 
background-color: #ffffff;
box-shadow: 0px -2px 5px #bdbdbd;
;
}
.ai { 
    float: right;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.port {
    padding-top: 15px !important;
    float: left !important;
    margin-left: 0px !important;
    margin-bottom: 1px;
    margin-top: 20px;

}
.words {
    margin-left: 80px;
    margin-top: 20px;
}

.btn {
    position: center;
    margin-left: 43%
    
}

.btn-primary { 
    height: 70px !important;
    border-radius: 0px !important;
    box-shadow: 7px 7px #ffc6d0;
    text-align: left !important;
    line-height: 110% !important;
    color: #000000 !important;
    background-color: #97e9e4 !important;
    border: none !important;
    margin-top: 35px !important;
}   

.btn-primary:active{ 
    height: 70px !important;
    border-radius: 0px !important;
    box-shadow: 4px 4px #e4a7b2;
    text-align: left !important;
    line-height: 110% !important;
    color: #000000 !important;
    background-color: #9fe4e0 !important;
    border: none !important;
    outline: none !important;
}   

.btn-primary:focus { 
    height: 70px !important;
    border-radius: 0px !important;
    box-shadow: 7px 7px #ffc6d0;
    text-align: left !important;
    line-height: 110% !important;
    color: #000000 !important;
    background-color: #97e9e4 !important;
    border: none !important;
    outline: none !important;
} 

a {
    color: #000000 !important;
}

a:hover {
text-decoration: none !important;
}


#page-container {
    position: relative;
    min-height: 100vh;
    
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

.footer {
margin-top: 30px;
position: absolute;
  bottom: 0;
}

h3 {
    color: #29bfc9 !important;
    font-weight: bold !important;
    
}







/* meme photo gallery*/






.grid-container {
    columns: 5 200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    
}
  


p {
display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid-container div p {
    margin: 5px 0;
    padding: 0;
     text-align: center;
    font-style: italic;
    
}

.grid-container div {
    background-color: #ffffff;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
    transition: all 0.25s ease-in-out;
    justify-content: center !important;
    align-items: center !important;
}

.grid-item {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
   
} 

.title {
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
    height: 100px !important;
    background-color: #ffffff !important;
    box-shadow: 4px 4px 3px #c4c4c4 !important;
    margin-bottom: 50px;
    border: solid 2px black;
    
}
/* media query*/

@media only screen and (max-width: 600px){
    .content{
        max-width: 300px;
       
    }

    h2 {
        font-size: 20px !important;
    }
    p {
        font-size: 13px !important;
    }
    .btn-primary {
        height: 50px !important;
        width: 150px !important;
        font-size: 12px !important;
        margin-top: 5px !important;
        padding-top: 10px !important;

    }

    .btn-primary:focus { 

        height: 50px !important;
        width: 150px !important;
        font-size: 12px !important;
        margin-top: 5px !important;
        padding-top: 10px !important
    }

    .btn {
        position: center;
        margin-left: 25%
    
    }

    h3 {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-right: 13px !important;
        padding-left: 13px !important;
        text-align: center;
        font-size: 18px !important;
        
    }
    .nav-item {
        
        font-size: 12px !important;
        margin-right: 3px !important;
        margin-left: 3px !important;
    }

    .navbar-nav {
        display: inline !important;
      }

    li a {
        float: left !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    li {
        display: inline !important;
    }
    
    .ai {
        
        float: none !important;
        font-size: 12px !important;
        text-align: center !important;
        width: 150px !important;
        margin-right: 30% !important;
        margin-left: 30% !important;
        margin-top: 15px !important;
        
    }
    .title {
        max-height: 80px !important;
        max-width: 170px !important;
       
    }
}
@media only screen and (max-width: 800px){
    .ai {
            
        float: none !important;
        font-size: 15px !important;
        text-align: center !important;
        width: 250px !important;
        margin-right: 30% !important;
        margin-left: 15% !important;
        margin-top: 7px !important;
        margin-bottom: 1px !important;
        
        
    }

    .port {
            
        float: none !important;
        font-size: 15px !important;
        text-align: center !important;
        width: 250px !important;
        margin-right: 30% !important;
        margin-left: 15% !important;
        margin-top: 5px !important;
        padding-top: 1px !important;
        
        }
}